@media (min-width: 1400px){
    .container{
        max-width: 1140 ;
    }
}
body{
    font-family: 'Montserrat';
}

.navbar-brand{
    font-family: 'Montserrat';
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}


.home{
    background-color: #F0F5F9;
    padding: 150px 0 100px 0;
}


.about-card-1{
    background-color: #FFF2E5;
}

.about-card-2{
    background-color: #F8F9FA;
}

.about-card-3{
    background-color: #F0F5F9;
}

.reviews__container{
    background-color: #F0F5F9;
    padding: 100px 50px ;
}

.faq-container{
    background-color: #F0F5F9;
    padding: 100px 50px ;
}

